/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

html,button,input,select,textarea{color:#222}body{font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}


/* ===========================
	Needed
	==========================
*/
/* Global */
body, html {height: 100%; min-height:100%;}
#slider.fade { margin: 0; height: 100%;min-height:100%; width: 100%; position: relative; }

#slider.fade > ul { list-style: none; margin: 0; padding: 0; }
#slider.fade > ul li { position: absolute; /*display: none; */ overflow: hidden; width: 100%; height:100%; min-height:100%; text-align: center; }

#slider.cycle { margin: 60px auto; height: 500px; width: 980px; position: relative; }
#slider.cycle { overflow: hidden;}
#slider.cycle > ul {position:absolute; height:500px; margin:0; padding:0;}
#slider.cycle > ul li {float:left; position: relative; width:980px; height:500px; list-style: none; margin:0;}

/* ===========================
	Usefull
	==========================
*/
/* Controls */
#slider #prev, #slider #next, #slider #on-off { position: absolute; width: 120px; padding: 10px; background: #eee5bd; }
#slider #prev { right: 0px; bottom:60px; }
#slider #next { right: 0px; bottom:30px; }
#slider #on-off {background:#eee5bd; bottom:0; right:0;}

#pagination { position:absolute; top: 0; right: 0; background: #ffffff; font-size: 13px; border-radius: 5px 0 0 5px;}
#pagination li { float:left; display: block; margin-right:20px; }
#pagination li a { color: #110904; text-decoration: none;}
#pagination li.pepperSliderActiveClass a { background: #f2f2f2; color: #DE522C; padding: 4px; border-radius: 5px; }

/* Parallax */
#slider .pepperSliderParallaxClass { position: absolute; top: 0; left: 0; width: 980px; height: 500px;}

#slider .pepperSliderParallaxClass img.left { left:0; } /* Only use left positioning */
#slider .pepperSliderParallaxClass img.right { left:500px; top:100px; }
#slider .pepperSliderParallaxClass img.middle { display: none; left:400px; }
#slider .pepperSliderParallaxClass img.top {display: none; left:400px; top: 0; }
#slider .pepperSliderParallaxClass img.bottom {left:400px; bottom: 0; }

#slider .pepperSliderParallaxClass img {position: absolute;}

/* CSS3 Animation */

/* Classic fade */
.csstransitions #slider.fade > ul li {
	opacity: 0;

	-webkit-transition: all 0.3s ease-in; 
	 -moz-transition: all 0.3s ease-in; 
	   -o-transition: all 0.3s ease-in; 
		  transition: all 0.3s ease-in; 

}
.csstransitions #slider.fade > ul li.pepperSliderActiveClass {
	opacity: 1;

	-webkit-transition: all 0.3s ease-out; 
	 -moz-transition: all 0.3s ease-out; 
	   -o-transition: all 0.3s ease-out; 
		  transition: all 0.3s ease-out;     
}

/* Parallax */
.csstransitions #slider.fade > ul .pepperSliderParallaxClass > * {

	-webkit-transition: all 0.3s ease-out; 
	 -moz-transition: all 0.3s ease-out; 
	   -o-transition: all 0.3s ease-out; 
		  transition: all 0.3s ease-out;     
}

/* 3D */
/* .csstransitions #slider.fade > ul li {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	Use before and after from parallax => http://tympanus.net/Development/StackSlider/
	-webkit-transform: rotateZ(-90deg) rotateY(90deg);
	-moz-transform: rotateZ(-90deg) rotateY(91deg);
	-o-transform: rotateZ(-90deg) rotateY(90deg);
	-ms-transform: rotateZ(-90deg) rotateY(90deg);
	transform: rotateZ(-90deg) rotateY(91deg);

	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	transform-origin: left bottom;

	opacity: 0;

	-webkit-transition: all 0.5s ease-in; 
	 -moz-transition: all 0.5s ease-in; 
	   -o-transition: all 0.5s ease-in; 
		  transition: all 0.5s ease-in; 

}
.csstransitions #slider.fade > ul li.pepperSliderActiveClass {
	opacity: 1;

	-webkit-transform: rotateZ(-0deg) rotateY(0deg);
	-moz-transform: rotateZ(-0deg) rotateY(0deg);
	-o-transform: rotateZ(-0deg) rotateY(0deg);
	-ms-transform: rotateZ(-0deg) rotateY(0deg);
	transform: rotateZ(-0deg) rotateY(0deg);

	-webkit-transition: all 0.5s ease-out; 
	 -moz-transition: all 0.5s ease-out; 
	   -o-transition: all 0.5s ease-out; 
		  transition: all 0.5s ease-out;     
} */



/* Demo purpose */
#main {float: left; position:relative; width: 100%; height:100%; background: url(../img/background.png); }
#slider ul li.red { background-color: #e53535; }
#slider ul li.green { background-color: #90e535; }
#slider ul li.yellow { background-color: #e5df35; }
#slider ul li.black { background-color: #110904; }
#slider ul li.orange { background-color: #e57b35; }

#slider ul li h2 {float: left; color: #ffffff; margin: 10px 0 0 20px; }

/* IE sucks */
.lt-ie7 #slider.fade ul { list-style: none; margin: 0; padding: 0; }
.lt-ie7 #slider.fade ul { list-style: none; margin: 0; padding: 0; }
.lt-ie7 #slider.fade ul li { position: absolute; /*display: none; */ overflow: hidden; width: 100%; height:500px; text-align: center; }

.lt-ie7 #slider.cycle ul {position:absolute; height:500px; margin:0; padding:0;}
.lt-ie7 #slider.cycle ul li {float:left; position: relative; width:980px; height:500px; list-style: none; margin:0;}

.ie #slider.fade ul li {
	display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:100%}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}